/* {
    background-color : #f3f7fa;
} */

.gespreksverslag{
    padding-left : 70px;
    background-color: white;
}
.gespreksverslag-content{
    background-color: #f3f7fa;
    padding: 105px 75px 25px;
}
.gespreksverslag-menubalk
{
    background-color: #002c5c;
    /* width: 100%; */
    padding: 20px 25px;
    position: fixed;
    top: 0px;
    z-index: 100;
    right: 0px;
    height: 80px;
}
.gespreksverslag-menubalk::before{
    background-color: transparent;
    content: '';
    position: absolute;
    width: 0px;
      height: 0px;
      border-bottom: 80px solid #002c5c;
      border-left: 40px solid transparent;
      bottom: 0px;
      left : -39px;
}